<section class="faq">
  <div class="container">
    <div class="section-header">
      <p class="section-header__eyebrow">Вопросы и ответы</p>
      <h2 class="section-header__title">Часто задаваемые вопросы</h2>
    </div>

    <div class="faq__list">
      <details class="faq__item" open>
        <summary class="faq__question">
          Где находится производство?
          <span class="faq__icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
        </summary>
        <p class="faq__answer">
          Основная производственная площадка расположена в Ростовской области, г. Белая Калитва.
        </p>
      </details>
      <details class="faq__item">
        <summary class="faq__question">
          Проводится ли контроль качества сырья?
          <span class="faq__icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
        </summary>
      </details>
      <details class="faq__item">
        <summary class="faq__question">
          Можно ли посетить производство?
          <span class="faq__icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
        </summary>
      </details>
    </div>
  </div>
</section>
