<section class="about">
  <div class="container about__inner">
    <span class="about__img img-placeholder"></span>

    <div class="about__content">
      <p class="about__eyebrow">ПродКонтрактИнвест</p>
      <h2 class="about__title">Ведущий российский производитель</h2>
      <p class="about__text">
        С 2001 года производим натуральные корма для кошек, собак, птиц и грызунов. Высококачественное сырьё,
        современные технологии и строгий контроль качества.
      </p>

      <ul class="about__stats list-reset">
        <li class="about__stats-item">
          <span class="about__stats-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="about__stats-info">
            <span class="about__stats-title">С 2001 года</span>
            <span class="about__stats-desc">Собственное производство</span>
          </span>
        </li>
        <li class="about__stats-item">
          <span class="about__stats-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="about__stats-info">
            <span class="about__stats-title">Натуральный состав</span>
            <span class="about__stats-desc">Без искусственных добавок</span>
          </span>
        </li>
        <li class="about__stats-item">
          <span class="about__stats-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="about__stats-info">
            <span class="about__stats-title">ГОСТ качество</span>
            <span class="about__stats-desc">Сертифицированная продукция</span>
          </span>
        </li>
        <li class="about__stats-item">
          <span class="about__stats-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="about__stats-info">
            <span class="about__stats-title">12 брендов</span>
            <span class="about__stats-desc">Широкий ассортимент продукции</span>
          </span>
        </li>
      </ul>

      <a class="about__btn" href="#">Подробнее о компании →</a>
    </div>
  </div>
</section>
