<section class="advantages">
  <div class="container advantages__inner">
    <ul class="advantages__list list-reset">
      <li class="advantages__item">
        <span class="advantages__icon advantages__icon--number">25</span>
        <span class="advantages__text">лет на рынке</span>
      </li>
      <li class="advantages__item">
        <span class="advantages__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <span class="advantages__text">натуральный состав</span>
      </li>
      <li class="advantages__item">
        <span class="advantages__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <span class="advantages__text">собственное производство</span>
      </li>
      <li class="advantages__item">
        <span class="advantages__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <span class="advantages__text">сертифицировано по ГОСТ</span>
      </li>
    </ul>
  </div>
</section>
