<section class="account-section">
  <div class="container">
    <div class="account-layout">
      <aside class="account-sidebar">
        <nav>
          <ul class="list-reset">
            <li>
              <a class="account-nav__item" href="profile.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Профиль
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="orders.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                История заказов
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="favorites.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Избранное
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="repeat-orders.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Повторные заказы
              </a>
            </li>
            <li>
              <a class="account-nav__item account-nav__item--active" href="bonus.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Бонусная программа
              </a>
            </li>
            <li>
              <a class="account-nav__item account-nav__item--danger" href="index.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Выйти
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <div class="account-content">
        <h2 class="account-content__title">Бонусная программа</h2>
        <p class="bonus-desc">
          Копите бонусы, чтобы обменивать их на скидки. При оформлении заказа вы можете списать бонусы. 1 бонус =
          1 рубль
        </p>

        <div class="bonus-row">
          <div class="bonus-balance">
            <span class="bonus-balance__icon icon-placeholder">
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </span>
            <p class="bonus-balance__value">226</p>
          </div>

          <div class="bonus-alert">
            <span class="bonus-alert__icon icon-placeholder">
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </span>
            <div class="bonus-alert__body">
              <p class="bonus-alert__title">Скоро сгорят</p>
              <p class="bonus-alert__text">115 бонусов сгорят 16 декабря</p>
            </div>
            <a class="bonus-alert__btn" href="catalog.html">Перейти к покупкам</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
