<section class="brand-features">
  <div class="container">
    <div class="section-header">
      <p class="section-header__eyebrow">Почему выбирают бренд</p>
      <h2 class="section-header__title">Преимущества «Ночной охотник»</h2>
    </div>

    <ul class="brand-features__grid list-reset">
      <li class="brand-features__card">
        <span class="brand-features__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <h3 class="brand-features__title">Натуральное сырьё</h3>
        <p class="brand-features__desc">Мясо и субпродукты без искусственных консервантов.</p>
      </li>
      <li class="brand-features__card">
        <span class="brand-features__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <h3 class="brand-features__title">Без искусственных добавок</h3>
        <p class="brand-features__desc">Никаких красителей и усилителей вкуса.</p>
      </li>
      <li class="brand-features__card">
        <span class="brand-features__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <h3 class="brand-features__title">Собственное производство</h3>
        <p class="brand-features__desc">Полный цикл на заводе в Ростовской области.</p>
      </li>
      <li class="brand-features__card">
        <span class="brand-features__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <h3 class="brand-features__title">Сертифицировано по ГОСТ</h3>
        <p class="brand-features__desc">Регулярный лабораторный контроль сырья.</p>
      </li>
    </ul>
  </div>
</section>
