<div class="container catalog-filters">
  <ul class="catalog-filters__categories list-reset">
    <li>
      <button type="button" class="catalog-filters__category catalog-filters__category--active">
        Все товары <span class="catalog-filters__count">28</span>
      </button>
    </li>
    <li>
      <button type="button" class="catalog-filters__category">Кошки <span class="catalog-filters__count">14</span></button>
    </li>
    <li>
      <button type="button" class="catalog-filters__category">Собаки <span class="catalog-filters__count">8</span></button>
    </li>
    <li>
      <button type="button" class="catalog-filters__category">
        Грызуны и кролики <span class="catalog-filters__count">4</span>
      </button>
    </li>
    <li>
      <button type="button" class="catalog-filters__category">Птицы <span class="catalog-filters__count">2</span></button>
    </li>
  </ul>

  <hr class="catalog-filters__divider">

  <div class="catalog-filters__row">
    <div class="catalog-filters__dropdowns">
      <button type="button" class="catalog-filters__dropdown">
        Тип корма
        <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
      </button>
      <button type="button" class="catalog-filters__dropdown">
        Возраст
        <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
      </button>
      <button type="button" class="catalog-filters__dropdown">
        Назначение
        <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
      </button>
      <button type="button" class="catalog-filters__dropdown">
        Вкус
        <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
      </button>
      <button type="button" class="catalog-filters__dropdown">
        Бренд
        <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
      </button>
      <button type="button" class="catalog-filters__dropdown">
        Все упаковки
        <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
      </button>
      <button type="button" class="catalog-filters__dropdown">
        Сегмент
        <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
      </button>
    </div>

    <div class="catalog-filters__sort">
      <span class="catalog-filters__sort-label">Сортировка</span>
      <button type="button" class="catalog-filters__sort-value">
        Сначала новинки
        <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
      </button>
    </div>
  </div>

  <hr class="catalog-filters__divider">

  <p class="catalog-filters__found">Найдено: <strong>28</strong></p>
</div>
