<section class="contact-section">
  <div class="container">
    <p class="section-header__eyebrow">Связаться с нами</p>
    <h2 class="section-header__title">Мы на связи</h2>

    <div class="contact-section__grid">
      <div class="contact-info">
        <ul class="contact-info__list list-reset">
          <li class="contact-info__item">
            <span class="contact-info__icon icon-placeholder">
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </span>
            <div>
              <p class="contact-info__label">Телефон</p>
              <p class="contact-info__value">+7 928 229-78-08</p>
            </div>
          </li>
          <li class="contact-info__item">
            <span class="contact-info__icon icon-placeholder">
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </span>
            <div>
              <p class="contact-info__label">Email</p>
              <p class="contact-info__value">pki.zoo-mir@yandex.ru</p>
            </div>
          </li>
          <li class="contact-info__item">
            <span class="contact-info__icon icon-placeholder">
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </span>
            <div>
              <p class="contact-info__label">Адрес</p>
              <p class="contact-info__value">115304, г. Москва, вн.тер.г. муниципальный округ Царицыно, ул. Каспийская, д. 22, к. 1, стр. 5, помещ. 18/7</p>
            </div>
          </li>
          <li class="contact-info__item">
            <span class="contact-info__icon icon-placeholder">
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </span>
            <div>
              <p class="contact-info__label">Часы работы</p>
              <p class="contact-info__value">Пн–Пт, 9:00–18:00 (МСК)</p>
            </div>
          </li>
        </ul>

        <p class="contact-info__social-title">Мы в соцсетях</p>
        <div class="contact-info__social-list">
          <a class="contact-info__social-link" href="#">Вконтакте</a>
          <a class="contact-info__social-link" href="#">Telegram</a>
        </div>
      </div>

      <form class="contact-form">
        <h3 class="contact-form__title">Напишите нам</h3>
        <p class="contact-form__desc">Ответим в рабочее время в течение дня.</p>

        <div class="contact-form__row">
          <input class="contact-form__field" type="text" placeholder="Как к вам обращаться?">
          <input class="contact-form__field" type="tel" placeholder="+7 (XXX) XXX-XX-XX">
        </div>
        <input class="contact-form__field contact-form__email" type="email" placeholder="Email">
        <textarea class="contact-form__field contact-form__comment" placeholder="Комментарий"></textarea>

        <label class="contact-form__check">
          <input class="contact-form__checkbox" type="checkbox">
          <span class="contact-form__check-text">
            Нажимая кнопку вы подтверждаете, что ознакомлены с нашей
            <span class="contact-form__check-accent">Политикой конфиденциальности</span>
          </span>
        </label>
        <label class="contact-form__check">
          <input class="contact-form__checkbox" type="checkbox">
          <span class="contact-form__check-text">
            Нажимая кнопку вы подтверждаете, что даете
            <span class="contact-form__check-accent">Согласие на обработку персональных данных</span>
          </span>
        </label>

        <button class="contact-form__submit" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</section>
