<section class="program-section">
  <div class="container program-section__grid">
    <div class="program-section__main">
      <p class="program-section__eyebrow">Оптовикам и дистрибьюторам</p>
      <h2 class="program-section__title">Прямые поставки от производителя</h2>
      <p class="program-section__desc">
        Работаем напрямую с зоомагазинами, сетями и дистрибьюторами по всей России и СНГ.
      </p>

      <ul class="program-section__checklist list-reset">
        <li class="program-section__check-item">
          <span class="program-section__check-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="program-section__check-text">Оптовый прайс-лист после подтверждения статуса партнёра</span>
        </li>
        <li class="program-section__check-item">
          <span class="program-section__check-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="program-section__check-text">Безналичный расчёт по счёту, отсрочка платежа для постоянных партнёров</span>
        </li>
        <li class="program-section__check-item">
          <span class="program-section__check-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="program-section__check-text">Логистика и доставка в регионы</span>
        </li>
        <li class="program-section__check-item">
          <span class="program-section__check-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="program-section__check-text">Персональный менеджер</span>
        </li>
      </ul>

      <a class="program-section__btn" href="#coop-form">Подать заявку →</a>
    </div>

    <div class="program-section__downloads">
      <h3 class="program-section__downloads-title">Материалы для скачивания</h3>
      <div class="program-section__download-list">
        <div class="program-section__download-item">
          <span class="program-section__download-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="program-section__download-name">Гид по составу линеек</span>
        </div>
        <div class="program-section__download-item">
          <span class="program-section__download-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="program-section__download-name">Таблицы норм кормления</span>
        </div>
        <div class="program-section__download-item">
          <span class="program-section__download-icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
          <span class="program-section__download-name">Брендированные материалы для кабинета</span>
        </div>
      </div>
    </div>
  </div>
</section>
