<section class="faq">
  <div class="container">
    <div class="section-header">
      <p class="section-header__eyebrow">Вопросы и ответы</p>
      <h2 class="section-header__title">Часто задаваемые вопросы</h2>
    </div>

    <div class="faq__list">
      <details class="faq__item" open>
        <summary class="faq__question">
          Насколько точен калькулятор нормы корма?
          <span class="faq__icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
        </summary>
        <p class="faq__answer">
          Расчёт даёт ориентировочное значение. Точную норму лучше уточнить у ветеринара с учётом состояния
          здоровья питомца.
        </p>
      </details>
      <details class="faq__item">
        <summary class="faq__question">
          Нужно ли менять норму при смене корма?
          <span class="faq__icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
        </summary>
      </details>
      <details class="faq__item">
        <summary class="faq__question">
          Как часто нужно кормить взрослое животное?
          <span class="faq__icon icon-placeholder">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </span>
        </summary>
      </details>
    </div>
  </div>
</section>
