<header class="header header--inner">
  <div class="container header__inner">
    <div class="header__brand-nav">
      <a class="header__logo" href="index.html">
        <span class="header__logo-img img-placeholder"></span>
      </a>

      <nav class="header__nav">
        <ul class="header__nav-list list-reset">
          <li class="header__nav-item"><a class="header__nav-link" href="#">Продукция</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="catalog.html">Каталог</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="about.html">О компании</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="cooperation.html">Сотрудничество</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="news.html">Новости</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">Питомникам</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__actions">
      <a class="header__contacts" href="contacts.html">Контакты</a>
      <a class="header__cta" href="where-to-buy.html">
        <span class="header__cta-dot"></span>
        Где купить
      </a>
    </div>
  </div>
</header>
