<header class="header">
  <div class="container header__inner">
    <div class="header__brand-nav">
      <a class="header__logo" href="index.html">
        <span class="header__logo-img img-placeholder"></span>
      </a>

      <nav class="header__nav">
        <ul class="header__nav-list list-reset">
          <li class="header__nav-item"><a class="header__nav-link" href="#">Продукция</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">Каталог</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">О компании</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">Сотрудничество</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">Новости</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">Питомникам</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__actions">
      <a class="header__contacts" href="#">Контакты</a>
      <a class="header__cta" href="#">
        <span class="header__cta-dot"></span>
        Где купить
      </a>
    </div>
  </div>
</header>
