<section class="account-section">
  <div class="container">
    <div class="account-layout">
      <aside class="account-sidebar">
        <nav>
          <ul class="list-reset">
            <li>
              <a class="account-nav__item" href="profile.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Профиль
              </a>
            </li>
            <li>
              <a class="account-nav__item account-nav__item--active" href="orders.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                История заказов
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="favorites.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Избранное
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="repeat-orders.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Повторные заказы
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="bonus.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Бонусная программа
              </a>
            </li>
            <li>
              <a class="account-nav__item account-nav__item--danger" href="index.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Выйти
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <div class="account-content">
        <div class="orders-toolbar">
          <h2 class="account-content__title">История заказов</h2>
          <span class="orders-toolbar__label">Сортировка</span>
          <button type="button" class="orders-toolbar__value">
            Сначала новые
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
          </button>
        </div>

        <ul class="orders-list list-reset">
          <li class="order-card">
            <div class="order-card__main">
              <p class="order-card__status">Передаем в доставку</p>
              <p class="order-card__number">
                ТСЭ0832582582
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
              </p>
              <p class="order-card__delivery">Доставка в пункт выдачи 20 июля</p>
              <p class="order-card__address">Москва, Бульвар Энгельса 47</p>
              <p class="order-card__details">кв./офис 54, подъезд 2, домофон 54, этаж 7</p>
            </div>
            <ul class="order-card__items list-reset">
              <li class="order-card__item">
                <span class="order-card__item-img img-placeholder"></span>
                <p class="order-card__item-price">5 000 ₽</p>
              </li>
              <li class="order-card__item">
                <span class="order-card__item-img img-placeholder"></span>
                <p class="order-card__item-price">5 000 ₽</p>
              </li>
              <li class="order-card__item">
                <span class="order-card__item-img img-placeholder"></span>
                <p class="order-card__item-price">5 000 ₽</p>
              </li>
              <li class="order-card__item">
                <span class="order-card__item-img img-placeholder"></span>
                <p class="order-card__item-price">5 000 ₽</p>
              </li>
              <li class="order-card__item">
                <span class="order-card__item-img img-placeholder"></span>
                <p class="order-card__item-price">5 000 ₽</p>
              </li>
            </ul>
          </li>

          <li class="order-card">
            <div class="order-card__main">
              <p class="order-card__status">В пункте выдачи</p>
              <p class="order-card__number">
                ТСЭ0832582582
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
              </p>
              <p class="order-card__delivery">Доставлен в пункт выдачи</p>
              <p class="order-card__address">Москва, Бульвар Энгельса 47</p>
              <p class="order-card__details">кв./офис 54, подъезд 2, домофон 54, этаж 7</p>
            </div>
            <ul class="order-card__items list-reset">
              <li class="order-card__item">
                <span class="order-card__item-img img-placeholder"></span>
                <p class="order-card__item-price">5 000 ₽</p>
              </li>
              <li class="order-card__item">
                <span class="order-card__item-img img-placeholder"></span>
                <p class="order-card__item-price">5 000 ₽</p>
              </li>
            </ul>
          </li>

          <li class="order-card">
            <div class="order-card__main">
              <p class="order-card__status">Получен 20 июля</p>
              <p class="order-card__number">
                ТСЭ0832582582
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
              </p>
              <p class="order-card__delivery">Доставлен в пункт выдачи</p>
              <p class="order-card__address">Москва, Бульвар Энгельса 47</p>
              <p class="order-card__details">кв./офис 54, подъезд 2, домофон 54, этаж 7</p>
            </div>
            <ul class="order-card__items list-reset">
              <li class="order-card__item">
                <span class="order-card__item-img img-placeholder"></span>
                <p class="order-card__item-price">5 000 ₽</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
