<section class="account-section">
  <div class="container">
    <div class="account-layout">
      <aside class="account-sidebar">
        <nav>
          <ul class="list-reset">
            <li>
              <a class="account-nav__item" href="profile.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Профиль
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="orders.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                История заказов
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="favorites.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Избранное
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="repeat-orders.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Повторные заказы
              </a>
            </li>
            <li>
              <a class="account-nav__item" href="bonus.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Бонусная программа
              </a>
            </li>
            <li class="account-nav__group">
              <div class="account-nav__group-header">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Кабинет партнёра
              </div>
              <a class="account-nav__subitem" href="quick-order.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Быстрый заказ
              </a>
              <a class="account-nav__subitem" href="wholesale-orders.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Оптовые заказы
              </a>
              <a class="account-nav__subitem account-nav__subitem--active" href="partner-documents.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Документы
              </a>
              <a class="account-nav__subitem" href="partner-settings.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Настройки
              </a>
            </li>
            <li>
              <a class="account-nav__item account-nav__item--danger" href="index.html">
                <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
                Выйти
              </a>
            </li>
          </ul>
        </nav>
      </aside>

      <div class="account-content">
        <div class="documents-toolbar">
          <h2 class="account-content__title">Документы по заказам</h2>
          <label class="quick-order-toolbar__search">
            <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            <input type="text" placeholder="Поиск по номеру заказа">
          </label>
        </div>

        <div class="documents-filters">
          <div class="documents-filters__group">
            <button type="button" class="quick-order-filters__item">
              Тип документа
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </button>
            <button type="button" class="quick-order-filters__item">
              Дата
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </button>
          </div>
          <p class="quick-order-found">Найдено: <strong>28</strong></p>
        </div>

        <ul class="documents-list list-reset">
          <li class="document-row">
            <p class="document-row__number">
              123568975
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </p>
            <p class="document-row__type">Счет</p>
            <p class="document-row__name">Название документа</p>
            <p class="document-row__date">от 16 декабря 2026</p>
            <button type="button" class="document-row__download">Скачать PDF</button>
          </li>
          <li class="document-row">
            <p class="document-row__number">
              123568976
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </p>
            <p class="document-row__type">Накладная</p>
            <p class="document-row__name">Название документа</p>
            <p class="document-row__date">от 12 декабря 2026</p>
            <button type="button" class="document-row__download">Скачать PDF</button>
          </li>
          <li class="document-row">
            <p class="document-row__number">
              123568977
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </p>
            <p class="document-row__type">Счет</p>
            <p class="document-row__name">Название документа</p>
            <p class="document-row__date">от 05 декабря 2026</p>
            <button type="button" class="document-row__download">Скачать PDF</button>
          </li>
          <li class="document-row">
            <p class="document-row__number">
              123568978
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </p>
            <p class="document-row__type">Акт</p>
            <p class="document-row__name">Название документа</p>
            <p class="document-row__date">от 28 ноября 2026</p>
            <button type="button" class="document-row__download">Скачать PDF</button>
          </li>
          <li class="document-row">
            <p class="document-row__number">
              123568979
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </p>
            <p class="document-row__type">Счет</p>
            <p class="document-row__name">Название документа</p>
            <p class="document-row__date">от 20 ноября 2026</p>
            <button type="button" class="document-row__download">Скачать PDF</button>
          </li>
          <li class="document-row">
            <p class="document-row__number">
              123568980
              <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
            </p>
            <p class="document-row__type">Накладная</p>
            <p class="document-row__name">Название документа</p>
            <p class="document-row__date">от 16 ноября 2026</p>
            <button type="button" class="document-row__download">Скачать PDF</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
