<section class="professionals">
  <div class="container">
    <div class="section-header section-header--light">
      <p class="section-header__eyebrow">Для профессионалов</p>
      <h2 class="section-header__title">Особые условия партнёрам</h2>
      <p class="section-header__subtitle">Специальные программы для ветеринаров, питомников и оптовых партнёров</p>
    </div>

    <ul class="professionals__list list-reset">
      <li class="professionals__card">
        <span class="professionals__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <h3 class="professionals__title">Ветеринарам</h3>
        <p class="professionals__desc">Специальные программы и материалы для ветеринарных специалистов.</p>
        <a class="professionals__link" href="#">Узнать условия →</a>
      </li>
      <li class="professionals__card">
        <span class="professionals__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <h3 class="professionals__title">Питомникам</h3>
        <p class="professionals__desc">Выгодные условия и поддержка для профессиональных заводчиков.</p>
        <a class="professionals__link" href="#">Узнать условия →</a>
      </li>
      <li class="professionals__card">
        <span class="professionals__icon icon-placeholder">
          <svg><use href="img/sprite.svg#icon" xlink:href="img/sprite.svg#icon"></use></svg>
        </span>
        <h3 class="professionals__title">Оптовикам</h3>
        <p class="professionals__desc">Прямые поставки от производителя по выгодным ценам.</p>
        <a class="professionals__link" href="#">Узнать условия →</a>
      </li>
    </ul>
  </div>
</section>
