<section class="store-locator">
  <div class="container">
    <div class="section-header">
      <p class="section-header__eyebrow">Карта офлайн-точек</p>
      <h2 class="section-header__title">Магазины и клиники рядом с вами</h2>
    </div>

    <div class="store-locator__map img-placeholder">
      <div class="store-locator__search">
        <input class="store-locator__input" type="text" placeholder="Поиск">
        <button type="button" class="store-locator__btn">Найти</button>
      </div>
    </div>

    <div class="store-locator__columns">
      <div class="store-locator__column">
        <h3 class="store-locator__column-title">Магазины</h3>
        <ul class="store-locator__list list-reset">
          <li class="store-locator__item">
            <span class="store-locator__dot"></span>
            <a class="store-locator__address" href="#">347041, Ростовская область, г. Белая Калитва, ул. Совхозная, 52а</a>
          </li>
          <li class="store-locator__item">
            <span class="store-locator__dot"></span>
            <a class="store-locator__address" href="#">344000, г. Ростов-на-Дону, пер. Промышленный, 14</a>
          </li>
          <li class="store-locator__item">
            <span class="store-locator__dot"></span>
            <a class="store-locator__address" href="#">347041, Ростовская область, г. Белая Калитва, ул. Совхозная, 52а</a>
          </li>
          <li class="store-locator__item">
            <span class="store-locator__dot"></span>
            <a class="store-locator__address" href="#">115280, г. Москва, ул. Ленинская Слобода, 26</a>
          </li>
        </ul>
      </div>

      <div class="store-locator__column">
        <h3 class="store-locator__column-title">Клиники</h3>
        <ul class="store-locator__list list-reset">
          <li class="store-locator__item">
            <span class="store-locator__dot"></span>
            <a class="store-locator__address" href="#">344000, г. Ростов-на-Дону, пер. Промышленный, 14</a>
          </li>
          <li class="store-locator__item">
            <span class="store-locator__dot"></span>
            <a class="store-locator__address" href="#">115280, г. Москва, ул. Ленинская Слобода, 26</a>
          </li>
          <li class="store-locator__item">
            <span class="store-locator__dot"></span>
            <a class="store-locator__address" href="#">344000, г. Ростов-на-Дону, пер. Промышленный, 14</a>
          </li>
          <li class="store-locator__item">
            <span class="store-locator__dot"></span>
            <a class="store-locator__address" href="#">347041, Ростовская область, г. Белая Калитва, ул. Совхозная, 52а</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
