<section class="subscribe-section">
  <div class="container">
    <div class="subscribe">
      <div class="subscribe__info">
        <h2 class="subscribe__title">Будьте в курсе новинок и акций</h2>
        <p class="subscribe__text">Подпишитесь и получайте специальные предложения первыми</p>
      </div>

      <div class="subscribe__form">
        <div class="subscribe__row">
          <label class="subscribe__field">
            <span class="visually-hidden">E-mail</span>
            <input class="subscribe__input" type="email" placeholder="Введите ваш E-mail">
          </label>
          <button class="subscribe__submit" type="submit">Подписаться</button>
        </div>

        <label class="subscribe__check">
          <input class="subscribe__checkbox" type="checkbox">
          <span class="subscribe__check-text">
            Нажимая кнопку вы подтверждаете, что ознакомлены с нашей
            <span class="subscribe__check-accent">Политикой конфиденциальности</span>
          </span>
        </label>

        <label class="subscribe__check">
          <input class="subscribe__checkbox" type="checkbox">
          <span class="subscribe__check-text">
            Нажимая кнопку вы подтверждаете, что даете
            <span class="subscribe__check-accent">Согласие на обработку персональных данных</span>
          </span>
        </label>
      </div>
    </div>
  </div>
</section>
